#forgot_box{
    position: absolute;
    background: white;
    width: 500px;
    height: 250px;
    border: 2px solid;
    z-index: 1;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.close_modal{
    position: absolute;
    right: 0;
    top: 0
}