#change-password{
    display: none;
}

#change-password:checked ~ #repassword-form{
    display: block;
}
#repassword-form{
    display: none
}
#change-label{
    display: inline-block
}
#change-button{
    pointer-events: none
}